html, body {
	margin: 0;
	padding: 0;
}

/* ---Navigation--- */

nav {
	z-index: 3;
	position: fixed;
	width: 100%;
	height: 60px;
	min-width: 650px;
}

nav .logo {
	height: 60px;
	width: 45px;
	margin: 2px;
	float: left;
}

nav ul {
	float: right;
	margin: 0;
	display: flex;
	flex-direction: row;
}

nav ul li a {
	display: flex;
	text-align: center;
}

@media screen and (max-width: 1225px)
{
	nav .logo {
		margin-left: 5%;
	}

	nav ul {
		margin-right: 5%;
	}

	nav ul li a {
		padding: 8px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media screen and (min-width: 1224px)
{
	nav .logo {
		margin-left: 20%;
	}

	nav ul {
		margin-right: 20%;
	}

	nav ul li a
	{
		padding: 20px;
	}
}

/* ---Content--- */

main {
	display: none;
}

.page
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	min-height: 60vh;
	text-align: center;
}

#intro {
	min-height: 100vh;
	position: relative;
	top: -100px;
}

#intro #hint {
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 20px;
	transform: translate(-50%, -50%);
}

#home {
	position: relative;
}

article {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	margin: 5%;
	margin-top: 0%;
}

article .feature-art {
	margin-right: 30px;
	padding: 10px;
	max-height: 400px;
}

article .feature-text {
	display: flex;
	flex-direction: column;
	align-self: center;
	text-align: left;
	max-width: 60%;
}

#comments {
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 40%;
}

#comments input, #comments textarea {
	padding: 10px;
	width: 90%;
	margin: 20px;
}

#comments textarea {
	max-width: 90%;
	min-width: 90%;
	min-height: 100px;
	max-height: 400px;
	margin: 20px;
}

#comments label {
	float: left;
	margin-top: 10px;
	margin-left: 5%;
}

.comment {
	margin: 5%;
	padding: 10px;
	padding-bottom: 30px;
}

.comment time {
	float: right;
}

#home, #photoshop, #illustrator, #audio, #video, #feedback {
	padding-top: 60px;
}

footer {
	margin: 0px;
	margin-top: 20px;
	padding: 20px;
	text-align: center;
}

/* ---UI Elements--- */

.button {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 150px;
}

.right {
	float: right;
}
