body {
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Exo 2','Arial', sans-serif;
	background: #222;
/*	overflow: hidden;*/
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

h1 {
	font-size: 30px;
}

h2 {
	color: #933;
}

.right {
	float: right;
}

.left {
	float: left;
}
/***
*	INTRO SLIDE
***/

#intro {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #111;
	height: 100vh;
	z-index: 9;
}

#intro .logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/***
*	MAIN PAGE
***/

main {
	display: block;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
/*	overflow: hidden;*/
}

main section {
	display: block;
	position: relative;
	width: 100%;
	height: 100vh;
	background-size: cover;
}

main section#digitus {
	background-image: url(../images/photography/keyboard_002.png);
	background-position: center;
}

main section#facefear {
	background-image: url(../images/photoshop/KnightScreen2.png);
	background-position: center bottom;
}

main section#depths {
	background-image: url(../images/photography/depths.jpg);
	background-position: center;
}

main section#spider {
	background-image: url(../images/photoshop/SnowSpider02.png);
	background-position: center;
}

/***
*	NAVIGATION
***/
nav {
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 48px;
	bottom: 0;
	left: 0;
	color: white;
	background: rgba(0,0,0,0.8);
}

nav * {
	margin: 0;
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding: 0;
}

nav div#pages a {
	color: #FFF;
}

nav div#more a {
	color: #777;
}

nav div#pages a:before {
	background: #933;
}

nav div#more a:before {
	background: #181818;
}

nav div a {
	padding: 14px;
	overflow: hidden;
	z-index: 0;
}

nav div a:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 100%;
	transition: all 350ms;
	z-index: -1;
}

nav div a:hover:before,
nav div a.active:before {
	transform: translateY(-100%);
}

/***
*	LOGO ASIDE
***/

#site-logo {
	position: fixed;
	top: 1em;
	left: 1em;
	width: 200px;
	height: 50px;
	background: rgba(0,0,0,0.8);
	padding: 10px;
	overflow: hidden;
	border-bottom-right-radius: 20px;
}

#site-logo * {
	position: absolute;
}

#site-logo .logo {
	top: 10px;
	left: 10px;
	width: 36px;
	height: 48px;
	padding: 2px;
	background: #933;
}

#site-logo h1,
#site-logo h2 {
	left: 55px;
}

#site-logo h1 a {
	text-decoration: none;
	width: 14ex;
	color: white;
	font-size: 24px;
	top: -1.1em;
}

#site-logo h2 {
	font-size: 18px;
	top: 1.1em;
}

@media screen and (max-width: 640px) {
	nav {
		display: none;
	}
	main section aside {
		display: none;
	}
}

@media screen and (min-width: 640px) {
	main section aside {
		text-align: left;
		border-left: 2px white solid;
		color: #FFF;
		position: absolute;
		padding-left: 20px;
		padding-right: 20px;
		right: 0px;
		top: 20px;
		max-width: 200px;
	}
}
